:root {
    --black: rgb(25, 26, 29);
    --white: rgb(255, 253, 250);
    --grey-light: rgb(99, 99, 99);
    --bg: #faf4ed;
    --primary-color-300: #78DAAB;
    --primary-color-700: rgb(37, 127, 83);
    --primary-color: #2D9E6F;
    --primary-color-light: #D7F4E6;
    --primary-color-300: rgb(89, 209, 151);
    --accent-color:  #FFCD9B;
    --size-1-4: 4px;
    --size-2-8: 8px;
    --size-3-12: 12px;
    --size-4-16: 16px;
    --size-5-20: 20px;
    --size-6-24: 24px;
    --size-7-32: 32px;
    --size-8-48: 48px;
    --size-9-64: 64px;
    --size-10-96: 96px;
    --size-11-128: 128px;
    --size-12-192: 192px;
    --size-13-256: 256px;
    --size-14-384: 384px;
    --size-15-512: 512px;
    --size-16-768: 768px;
    --size-17-1024: 1024px;
}