.main_container_hero {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 0px;
    padding-left: 0px;
    background-color: var(--accent-color);
}

.hero {
    display: grid;
    grid-template-columns: 55% 45%;
    grid-template-rows: 50% 50%;
    max-height: auto;
}

.hero img {
    grid-row: 1/3;  
    grid-column: 2/3;
    width: 75%;
    height:  90%;
    border-radius: 2px;
    object-fit: cover; 
    margin: auto auto;
}

.hero_text {
    grid-row: 1/3; 
    grid-column: 1/2;
    line-height: 1.5em; 
    padding-left: 50px;
    padding-right: 50px;
    margin: auto 0;
 }

.hero h1 {
    text-align: left;
    font-weight: 100;
    color: var(--black);
}

.hero p{
    text-align: left;
    font-weight: 700;
    color: #A45A0F;
}

/* Tablet */

@media (max-width: 900px) {
    .main_container_hero {
        padding-top: 0px;
        padding-bottom: 0px;
        padding-right: 0px;
        padding-left: 0px;
    }
}

/* Phone */

@media (max-width: 780px) {
    .main_container_hero {
        padding-top: 0px;
        padding-bottom: 40px;
        padding-right: 0px;
        padding-left: 0px;
    }

    .hero{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 50% 50%;
    }

    .hero img {
        grid-row: 1/2;
        grid-column: 1/2;
     }

    .hero_text {
        grid-row: 2/3;
        grid-column: 1/2;
        padding-left: 50px;
        padding-right: 50px;
        margin-top: 50px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    .hero h1 {    
        font-size: 3.8em;
        text-align: center;
    }   
    
    .hero p {    
        text-align: center;
    }  
}