.main_container_hero {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 0px;
    padding-left: 0px;
    background-color: var(--white);
}

.hero {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 100%;
    height: auto;
    max-height: auto;
}

.left {
    grid-row: 1/2; 
    grid-column: 1/2;
}

.right {
    grid-row: 1/2;  
    grid-column: 2/3;
}

.logo {
    padding-left: 50px;
    height: 100px;
    align-items: end;
    align-content: end;
}

.logo img{
    width:35px;
    vertical-align: middle;
    text-align: start;
    margin-right: 15px;
}

.logo p{
     text-align: left;
     font-weight: 400;
     color: var(--grey-light);
}

.hero_text {
    line-height: 1.5em; 
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    align-items: center;
    align-content: center;
    text-align: left;
    align-self: left;
    max-width: 460px;
 }

.hero h1 {
    font-weight: 400;
    color: var(--black);
}

.hero p{
    font-weight: 700;
    color: var(--grey-light);
}

.hero_img {
    width: 100%;
    height:  100%;
    object-fit: cover; 
    margin: auto auto;
}

/* Phone */ 
@media (max-width: 780px) {
    .main_container_hero {
        padding-top: 0px;
        padding-bottom: 0px;
        padding-right: 0px;
        padding-left: 0px;
    }

    .hero{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 60% 40%;
    }

    .left {
        grid-row: 1/2; 
        grid-column: 1/2;
    }

    .right {
        grid-row: 2/3;  
        grid-column: 1/2;
    }

    .logo {
    padding-left: 0;
    }

    .hero_text {
        text-align: center;
        align-self: center;
        align-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
    }

    .hero h1 {    
        font-size: 3em;
        text-align: center;
    }   
    
    .hero p {    
        text-align: center;
    }  
}