.main_container_5_minutes_a_day {
    text-align: center;
    background-color: var(--white);
    padding-top: var(--size-11);
    padding-bottom: var(--size-11);
    padding-left: var(--size-6);
    padding-right: var(--size-6);
}

.main_container_5_minutes_a_day img {
    width: var(--size-15);
    border-radius: var(--img-border-radius);
    margin-bottom: var(--size-9);
}