.benefits_container{
    background-color: var(--bg);
    padding-top: var(--spacing-9);
    padding-bottom: var(--spacing-9);
    padding-left: var(--spacing-5);
    padding-right: var(--spacing-5);
}

.box {
    display: grid;
    grid-template-columns: 45% 55%;
    text-align: left;
    max-width: var(--spacing-13);
    margin-bottom: var(--spacing-9);
    margin-left: auto;
    margin-right: auto;
    opacity: 0;
    transform:translateY(100px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
    will-change: opacity, transform;
}

.box.in-view {
    opacity: 1;
    transform: translateY(0);
}

.box img {
    height: var(--spacing-10);
    grid-column: 1/2;
    grid-row: 1/2;
    width: 100%;
    object-fit: cover;
    
 }

.box_text {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-left: var(--spacing-7);
}


/* Phone */
@media (max-width: 780px) {
    .box {
        display: grid;
        grid-template-columns: 100%;
        margin-bottom: var(--spacing-9);
    }
    .box img {
        grid-column: 1/2;
        grid-row: 1/2;
        width: 100%;
        margin-bottom: var(--spacing-7);
    }
    .box_text {
        grid-column: 1/2;
        grid-row: 2/3;
        margin-left: 0;
    }

}