.main_container_testimonials {
    text-align: center;
    background-color: var(--white);
    padding-top: var(--size-11-128);
    padding-bottom: var(--size-11-128);
    padding-left: var(--size-6-24);
    padding-right: var(--size-6-24);
}