.no_ai_container {
    margin: 0 auto;
    max-width: var(--spacing-12);
    padding-top: var(--spacing-9);
    padding-bottom: var(--spacing-9);
    align-items: center;
    align-self: center;
    justify-content: center;
    text-align: center;
    padding-left: var(--spacing-5);
    padding-right: var(--spacing-5);
}

.no_ai_img {
    width: 100%;
     max-width: var(--spacing-11);
     margin-bottom: var(--spacing-7);
     border-radius: var(--spacing-4);
}

.no_ai_text {
    max-width: var(--spacing-10-5);
    text-align: center;
    margin: 0 auto;
}



