.main_container_cta {
    background-color: var(--primary-color);
    margin: 0 auto;
    align-items: center;
    align-content: center;
    text-align: center;
    padding-top: var(--size-12-192);
    padding-bottom: 0;
    padding-left: var(--size-6-24);
    padding-right: var(--size-6-24);
}

/* Phone */
@media (max-width: 780px) {

}