.main_container_cta {
    background-color: var(--primary-color);
    padding-bottom: 40px;
}

/* Tablet */
@media (max-width: 900px) {
    .main_container_cta {
        padding-bottom: 25px;
    }
}

/* Phone */
@media (max-width: 780px) {
    .main_container_cta {
        padding-bottom: 25px;
    }
}