.main_container_cta {
    background-color: var(--primary-color);
    margin: 0 auto;
    align-items: center;
    align-content: center;
    text-align: center;
    padding-top: var(--spacing-9);
    padding-bottom: 0;
}

/* Phone */
@media (max-width: 780px) {

}