:root {
    --primary-color: rgb(45, 158, 101);
}

html {
    font-size: 16px;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito Sans", sans-serif;
    background-color: rgb(248, 243, 233);
    color: rgb(27, 27, 27);
}


h1 {
    font-size: 4em;
    font-weight: 100;
    letter-spacing: -0.03em;
}

h2 {
    font-size: 2.8em;
    font-weight: 500;
}

h3 {
    font-size: 2.2em;
    font-weight: 700;
    letter-spacing: 0.05em;
}

p {
    font-size: 1.6em;
    letter-spacing: 0.1em;
    line-height: 1.3em;
}

@media (min-width: 1024px) {

    h1 {
        font-size: 4.2em;
        font-weight: 100;
        letter-spacing: -0.03em;
    }

    h2 {
        font-size: 2.4em;
        font-weight: 500;
    }

    h3 {
        font-size: 1.4em;
        font-weight: 700;
        letter-spacing: 0.05em;
    }

    p {
        font-size: 1em;
        letter-spacing: 0.1em;
        line-height: 1.3em;
    }
    
}

thin {
    font-weight: 100;
}

button {
    font-size: 1.6em;
    color: white;
    background-color: var(--primary-color);
    border-radius: 10px;
    height: 60px;
    padding-left: 20px;
    padding-right: 20px;
    outline: 0;
    border: none;
}

@media (min-width: 1024px) {
    button {
        font-size: 1em;
        color: white;
        background-color: var(--primary-color);
        border-radius: 10px;
        height: 40px;
        padding-left: 20px;
        padding-right: 20px;
        outline: 0;
        border: none;
    }
}



button:hover {
    color: white;
    background-color: var(--primary-color);
}

ColoredText {
    color: var(--primary-color);
    font-weight: 900;
}

ul {
    font-size: 1.2rem;
    line-height: 3em;
    list-style: none;
    color: rgb(80, 80, 80);

}

.container {
    max-width: 88%;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}

@media (min-width: 1024px) {
    .container {
        max-width: 600px;
        margin: 0 auto;
        padding-left: 20px;
        padding-right: 20px;
        text-align: center;
    }
}

.hero {
    position: relative;
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

}

.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero_text {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    color: white;
    transform: translate(-50%, -50%);
    /* Center the text */
    text-align: center;
    align-content: center;
    background: rgba(52, 27, 0, 0.75);
    /* Optional dark overlay */
}

.main_box {
    display: flex;
    flex-wrap: wrap;

}

.box {
    flex: 1 1 500px;
    text-align: left;
    max-width: 800px;
    padding-top: 50px;
    padding-bottom: 100px;
    opacity: 0;
    transform:translateY(50px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
    will-change: opacity, transform;
    p {
        color: rgb(80, 80, 80);
    }
}

.box.in-view {
    opacity: 1;
    transform: translateY(0);
}

.img_container {
    height: 300px;
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 40px;

    img {
        height: auto;
        width: 100%;
        object-fit: cover;
        border-radius: 10px;
    }
}





 