:root {
    --primary-color-300: #78DAAB;
    --primary-color-700: rgb(37, 127, 83);
    --primary-color: rgb(45, 158, 103);
    --accent-color: rgb(236, 142, 84);
    --bg: rgb(245, 243, 235);
    --black: rgb(20, 20, 20);
    --grey-light: rgb(135, 135, 135);
    
}

html {
    font-size: 16px;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito Sans", sans-serif;
    background-color: #fefefe;
    color: var(--black);
}


h1 {
    font-size: 5.8em;
    font-weight: 100;
    letter-spacing: -0.01em;
    font-weight: 300;
    margin-bottom: 50px;
    line-height: 1em;
}

h2 {
    font-size: 2.4em;
    font-weight: 800;
}

h3 {
    font-size: 1.4em;
    font-weight: 900;
    letter-spacing: 0.05em;
    margin-bottom: 30px;
}

p {
    font-size: 1.1em;
    font-weight: 500;
    letter-spacing: 0.1em;
    line-height: 1.5em;
    color: var(--grey-light)
}

Strong {
    font-weight: 900;
    color: var(--black);
}

a {
    color: var(--primary-color);
    font-weight: 900;
    text-decoration: none;
}

thin {
    font-weight: 300;
    color: var(--grey-light)
}

button {
    font-size: 1em;
    color: white;
    background-color: var(--primary-color);
    border-radius: 30px;
    height: 50px;
    padding-left: 30px;
    padding-right: 30px;
    outline: 0;
    border: none;
}

button:hover {
    color: white;
    background-color: var(--primary-color);
}

ColoredText {
    color: var(--primary-color);
    font-weight: 900;
}

ColoredTextAccent {
    color: var(--accent-color);
    font-weight: 900;
}

.lightText {
    color: rgb(140, 140, 140);
    font-weight: 700;
}

ul {
    font-size: 1.2rem;
    line-height: 3em;
    list-style: none;
    color: rgb(80, 80, 80);

}

.paragraph {
    max-width: 500px;
    text-align: center;
    margin: 0 auto;
}

/* ------------------------------------------------------------------ */
/* Container */
/* ------------------------------------------------------------------ */

.main_container {
    max-width: 1600px;
    padding-top: 150px;
    padding-bottom: 180px;
    padding-left: 50px; 
    padding-right: 50px;
    align-content: center;
}

.main_container_topbar {
    padding-top: 20px;
    padding-bottom: 20px;
}

.main_container_hero {
    padding-top: 10px;
    padding-bottom: 100px;
}

.main_container_5_minutes_a_day {
    background-color: var(--bg);
}

.main_container_benefits {
    padding-bottom: 0px;
}

.main_container_testimonials {
    background-color: var(--bg);
}

.main_container_cta {
    background-color: var(--primary-color);
    padding-bottom: 40px;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;
}

/* Phone */

@media (max-width: 500px) {
    .main_container {
        padding-top: 70px;
        padding-bottom: 100px;
        padding-left: 25px; 
        padding-right: 25px;
     }

     .main_container_topbar {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .main_container_hero {
        padding-top: 25px;
        padding-bottom: 100px;
    }

    .main_container_benefits {
    padding-bottom: 20px;
}

    .main_container_cta {
     padding-bottom: 25px;
}
}


/* Tablet */

@media (max-width: 850px) {
    

}



.hero {
    display: grid;
    grid-template-columns: 55% 40%;
    gap: 5%;
    grid-template-rows: 50% 50%;
    margin: 0 auto;
    text-align: center;
    align-content: center;
    align-self: center;
}

.hero img {
    grid-row: 1/3; 
    grid-column: 2/3;
    width: 100%;
    border-radius: 40px;
    object-fit: cover;
}

.hero h1 {
    text-align: center;
    color: var(--black);
}

.hero .paragraph {
    line-height: 1.5em; 
    grid-row: 1/3; 
    grid-column: 1/2;
    margin-top: 10px;
    color: var(--grey-light);
}

.hero p{
    color: var(--grey-light);
}

/* Hero Phone */

@media (max-width: 500px) {
    .hero{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 50% 50%;
    }

    .hero img {
        grid-row: 1/2;
        grid-column: 1/2;
     }

    .hero_text {
        grid-row: 2/3;
        grid-column: 1/2;
    }

    .hero h1 {    
        font-size: 3.8em;
        text-align: center;
    }

    
}

.box {
    display: grid;
    grid-template-columns: 45% 50%;
    gap: 5%;
    text-align: left;
    max-width: 1600px;
    margin-top: 100px;
    margin-bottom: 220px;
    opacity: 0;
    transform:translateY(100px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
    will-change: opacity, transform;
}

.box.in-view {
    opacity: 1;
    transform: translateY(0);
}

.box img {
    grid-column: 1/2;
    grid-row: 1/2;
    width: 90%;
    object-fit: cover;
    border-radius: 40px;
}

.box_text {
    grid-column: 2/3;
    grid-row: 1/2;
}

.box p {
    max-width: 450px;
}

@media (max-width: 500px) {
    .box {
        display: grid;
        grid-template-columns: 100%;
        margin-top: 50px;
        margin-bottom: 120px;
    }
    .box img {
        grid-column: 1/2;
        grid-row: 1/2;
        width: 100%;
    }
    .box_text {
        grid-column: 1/2;
        grid-row: 2/3;
    }
}


video {
    border: 10px solid #1f1f1f;
    border-radius: 40px;
    width: 92%;
    height: auto;
    max-width: 360px;
    margin: 0 auto;
}





 